@font-face {
	font-family: 'Aremat';
	src: url('../fonts/ArematFontRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller/MullerLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller/MullerRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller/MullerMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller/MullerBlack.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller/MullerExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

:root {
	--bg: #040517;
	--bg2: rgba(40, 41, 54, 0.18);
	--bg3: #0a0b1d;
	--preloader: #000000;
	--text: #ffffff;
	--text2: #1050bc;
	--text-op: rgba(255, 255, 255, 0.45);
	--gr: linear-gradient(130deg, #04a2fe 25%, #1436a6 75%);
	--gr2: linear-gradient(5deg, #04a2fe 25%, #1436a6 75%);
	--gr-mob: linear-gradient(90deg, #00A3FF 17.86%, #0029FF 95.71%);
	--dr-shadow: drop-shadow(0 0 150px rgb(0, 114, 255));
	--dr-shadow2: drop-shadow(0 0 150px rgb(0, 114, 255, 0.5));
	--dr-shadow-white: drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
	--dr-shadow-btn: drop-shadow(0 0 10px rgb(0, 114, 255, 0.5));
	--dr-shadow-logo: drop-shadow(0 0 30px rgb(0, 114, 255));
}

* {
	box-sizing: border-box;
	cursor: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Muller', 'Arial', sans-serif;
	font-weight: normal;
	color: var(--text);
	background-color: var(--bg);
	scroll-behavior: smooth;

}

body::-webkit-scrollbar {
	width: 0;
}

body {
	-ms-overflow-style: none;
	position: relative;
	overflow: hidden;
}

body.start-page {
	overflow: hidden;
	overflow: -moz-scrollbars-none;
}

h1,
h2 {
	margin: 0;
	padding: 0;
	font-weight: 800;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 26px;
	margin: 0;
	padding: 0;
	font-weight: 800;
}

h4 {
	font-size: 25px;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #fff;
}

section {
	padding: 120px 0;
}

.loaded_hiding .preloader-start {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader-start {
	display: none;
}

.preloader-start {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--bg);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--preloader);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.preloader video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.preloader a {
	position: absolute;
	bottom: 50px;
	font-size: 20px;
	color: var(--text);
	opacity: .5;
	animation: opacityStart 1s forwards;
	font-weight: 800;
	/* cursor: pointer; */
}

main {
	margin-top: 100px;
}

header {
	position: relative;
	width: 100%;
	padding: 10px 0;
	z-index: 5;
	font-size: 20px;
}

header .header nav {
	width: 100%;
}

header .header nav .logo {
	font-size: 145px;
	font-family: 'Aremat', 'Muller', 'Arial', sans-serif;
	text-align: center;
	line-height: 150px;
	flex: 2;
	animation: opacityStart 1s forwards;
	animation-delay: .3s;
	opacity: 0;
}

header .header nav .logo span {
	background: var(--gr);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: var(--dr-shadow-logo);
}

header .header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .header nav ul li {
	font-weight: 300;
	flex: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}

header .header nav ul li a {
	display: inline-block;
	line-height: 50px;
}

header .header nav ul li:nth-of-type(1),
header .header nav ul li:nth-of-type(2) {
	text-align: left;
}

header .header nav ul li:nth-of-type(4),
header .header nav ul li:nth-of-type(5) {
	text-align: right;
}

header .header nav ul li:nth-of-type(2),
header .header nav ul li:nth-of-type(4) {
	animation: opacityStart 1s forwards;
	animation-delay: .5s;
	opacity: 0;
}

header .header nav ul li:nth-of-type(1),
header .header nav ul li:nth-of-type(5) {
	animation: opacityStart 1s forwards;
	animation-delay: .7s;
	opacity: 0;
}

header .header nav li a.active {
	position: relative;
}

header .header nav li a.active::before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: var(--gr);
	filter: var(--dr-shadow);
	border-radius: 50%;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
}

.desc {
	display: block;
	/* width: 560px; */
	font-size: 18px;
	color: var(--text-op);
	margin-top: 8px;
}

.btn {
	display: inline-block;
	border: 2px solid transparent;
	background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--gr) border-box;
	filter: var(--dr-shadow-btn);
	padding: 8px 45px;
	border-radius: 19px;
	font-size: 20px;
	margin-top: 45px;
}

.start {
	position: relative;
}

.start::before {
	content: '';
	position: absolute;
	width: 290px;
	height: 290px;
	background: var(--gr);
	filter: blur(300px);
	opacity: .5;
}

.start .container {
	display: flex;
	justify-content: space-between;
}

.start .text-main {
	position: relative;
	z-index: 1;
	padding-right: 50px;
	width: 50%;
}

.start .img {
	width: 670px;
	height: 500px;
	margin-top: -100px;
	position: relative;
}

.start .img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	filter: var(--dr-shadow2);
	animation: up 5s infinite ease-in-out;
}

.start .img::before {
	content: '';
	position: absolute;
	width: 680px;
	height: 680px;
	background-image: url('../image/decoration.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.cards .title {
	text-align: center;
	margin-bottom: 15px;
}

.cards .title h1 {
	position: relative;
	z-index: 1;
	display: inline-block;
}

.cards .title h1::before {
	content: '';
	position: absolute;
	width: 150px;
	height: 128px;
	background-image: url('../image/decoration2.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: -1;
}

.cards .info-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.cards .info-block .block {
	perspective: 1000;
	-webkit-perspective: 1000;
	display: inline-block;
	width: 29%;
	position: relative;
	margin: 40px 25px;
	min-height: 600px;
}

.cards .info-block .block .back .back-block {
	display: flex;
	flex-direction: column;
}

.cards .info-block .block .back .back-block a {
	display: block;
	margin: 10px 0;
}

.cards .info-block .block:hover .flipper {
	transform: rotateY(180deg);
}

.cards .info-block .flipper {
	transition: 0.8s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: relative;
	height: 100%;
}

.cards .info-block .front,
.cards .info-block .back {
	backface-visibility: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border: 4px solid transparent;
	background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--gr2) border-box;
	filter: var(--dr-shadow-btn);
	padding: 60px 42px;
	border-radius: 55px;
	font-size: 24px;
	overflow: hidden;
}

.cards .info-block .back {
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cards .info-block .block .flipper .front .text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 1;
}

.cards .info-block .block .flipper .front .text::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -120px;
	width: 500px;
	height: inherit;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	opacity: .16;
}

.cards .info-block .block:nth-of-type(1) .flipper .front .text::before,
.cards .info-block .block:nth-of-type(3) .flipper .front .text::before {
	background-image: url('../image/cards1.png');
}

.cards .info-block .block:nth-of-type(2) .flipper .front .text::before {
	background-image: url('../image/cards2.png');
	width: 490px;
	height: inherit;
}

.cards .info-block .block .text h2 {
	width: 65%;
}

.cards .info-block .block .text .desc-cards {
	font-size: 28px;
	width: 85%;
}

.nft-info .container .card,
.allInformation.container .card2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.nft-info .container .img {
	width: 400px;
	height: 400px;
	margin-right: 50px;
	position: relative;
}

.nft-info .container .img::before {
	content: '';
	position: absolute;
	width: 680px;
	height: 680px;
	background-image: url('../image/decoration.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.nft-info .container .img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	filter: var(--dr-shadow2);
	animation: up 5s infinite ease-in-out;
}

.nft-info .container .text-main {
	margin-left: 50px;
	width: 30%;
}

.nft-info .container .text-main h3,
.allInformation .text-main h3 {
	filter: var(--dr-shadow-white);
}

.nft-info .container .text-main span.desc,
.allInformation .text-main span.desc {
	font-weight: 300;
	color: var(--text);
	font-size: 18px;
	opacity: .65;
}

.allInformation-block {
	background-color: var(--bg2);
	position: relative;
	margin-top: 120px;
}

.allInformation-block .allInformation {
	position: relative;
	z-index: 1;
}

.allInformation-block .bg-allInformation {
	position: absolute;
	width: 100%;
	height: 120%;
	top: -10%;
	left: 0;
	right: 0;
	bottom: 0;
}

.allInformation-block .bg-allInformation img {
	width: 100%;
	height: 100%;
}

.allInformation .text-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	margin-right: 50px;
	width: 30%;
}

.text-main {
	max-width: 690px;
}

.allInformation-block .allInformation .img {
	height: 450px;
}

.allInformation-block .allInformation .img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: var(--dr-shadow2);
	animation: up 5s infinite ease-in-out;
}

.download-block {
	padding: 200px 0 240px;
	overflow: hidden;
}

.download {
	display: flex;
	align-items: center;
	justify-content: center;
}

.download .block {
	padding: 70px 160px;
	box-sizing: content-box;
	background: var(--gr);
	border-radius: 45px;
	z-index: 1;
	position: relative;
	filter: var(--dr-shadow-btn);
}

.download .card3 {
	transition: all .3s;
}

.download .block2 {
	position: relative;
	transform: translateX(-15px);
}

.download .card-wrapper {
	width: auto;
	height: auto;
}

.download .block2::before,
.download .block2::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: var(--gr);
	border-radius: 45px;
	transform-origin: 0 0;
}

.download .block2::before {
	transform: rotate(3deg);
	opacity: .4;
	left: 20px;
}

.download .block2::after {
	transform: rotate(6deg);
	opacity: .3;
	left: 40px;
}

.download .block .text {
	width: 465px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.download .block .text h2 {
	margin-bottom: 13px;
}

.download .block .text span {
	margin-bottom: 34px;
}

.btn-white {
	display: inline-block;
	padding: 12px 54px;
	background: var(--text);
	color: var(--text2);
	border-radius: 25px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 500;
}

footer {
	/* margin-top: 160px; */
	background: var(--bg3);
	overflow: hidden;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 300;
}

footer .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

footer .footer .menu {
	display: flex;
	position: relative;
	z-index: 10;
}

footer .footer .menu .block {
	margin-right: 100px;
}

footer .footer .menu .block:last-of-type {
	margin-right: 0;
}

footer .footer .logo-footer {
	height: 395px;
	transform: translateY(80px);
}

footer .footer .logo-footer img {
	height: 100%;
	filter: var(--dr-shadow-btn);
}

footer .footer .menu .block h4 {
	margin-bottom: 27px;
}

footer .footer .menu .block ul li {
	margin-bottom: 20px;
}

footer .footer .menu .block ul li:last-of-type {
	margin-bottom: 0;
}

.latest-update {
	text-align: center;
	position: relative;
}

.latest-update .btn-latest,
.latest-update .info-block .block-updates a,
.latest-update .info-block .info span {
	font-size: 25px;
}

.latest-update .btn-latest {
	text-transform: uppercase;
	font-weight: 700;
	padding: 30px 123px;
	border-radius: 42px;
}

.latest-update .info-block .block-updates {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.latest-update .info-block .block-updates a {
	border-radius: 25px;
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--gr) border-box;
	filter: var(--dr-shadow-btn);
	margin: 10px;
	margin: 10px 40px;
	/* cursor: pointer; */
}

.latest-update .info-block .block-updates a h4 {
	font-weight: 700;
}

.latest-update .info-block .block-updates a.active {
	background: var(--gr);
	border: 0
}

.latest-update .info-block {
	margin-top: 100px;
}

.latest-update .info-block .info {
	margin-top: 80px;
	font-weight: 300;
}

.latest-update .info-block .info .block {
	display: none;
	width: 70%;
	margin: 0 auto;
	border: 4px solid transparent;
	background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--gr) border-box;
	filter: var(--dr-shadow-btn);
	border-radius: 60px;
	padding: 50px 100px;
}

.latest-update .info-block .info .block h4 {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.latest-update .info-block .info .block.active {
	display: block;
}

.latest-update .info-block .info .block .text {
	font-size: 18px;
}

.latest-update-page {
	position: relative;
}

.latest-update-page::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../image/decoration4.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
}

.page-main {
	margin-top: 0;
}

.img-a-block {
	display: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1055;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
}

.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}

.modal.show .modal-dialog {
	transform: none;
}

.modal.modal-static .modal-dialog {
	transform: scale(1.02);
}

.modal-dialog-scrollable {
	height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
	max-height: 100%;
	overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: 0.5;
}

.modal-header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .btn-close {
	padding: 0.5rem 0.5rem;
	margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
}

.modal-footer {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-end;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer>* {
	margin: 0.25rem;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}

	.modal-dialog-scrollable {
		height: calc(100% - 3.5rem);
	}

	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}

	.modal-sm {
		max-width: 300px;
	}
}

@media (min-width: 992px) {

	.modal-lg,
	.modal-xl {
		max-width: 800px;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px;
	}
}

.modal-fullscreen {
	width: 100vw;
	max-width: none;
	height: 100%;
	margin: 0;
}

.modal-fullscreen .modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
}

.modal-fullscreen .modal-header {
	border-radius: 0;
}

.modal-fullscreen .modal-body {
	overflow-y: auto;
}

.modal-fullscreen .modal-footer {
	border-radius: 0;
}

@media (max-width: 575.98px) {
	.modal-fullscreen-sm-down {
		width: 100vw;
		max-width: none;
		height: 100%;
		margin: 0;
	}

	.modal-fullscreen-sm-down .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	}

	.modal-fullscreen-sm-down .modal-header {
		border-radius: 0;
	}

	.modal-fullscreen-sm-down .modal-body {
		overflow-y: auto;
	}

	.modal-fullscreen-sm-down .modal-footer {
		border-radius: 0;
	}
}

@media (max-width: 767.98px) {
	.modal-fullscreen-md-down {
		width: 100vw;
		max-width: none;
		height: 100%;
		margin: 0;
	}

	.modal-fullscreen-md-down .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	}

	.modal-fullscreen-md-down .modal-header {
		border-radius: 0;
	}

	.modal-fullscreen-md-down .modal-body {
		overflow-y: auto;
	}

	.modal-fullscreen-md-down .modal-footer {
		border-radius: 0;
	}
}

@media (max-width: 991.98px) {
	.modal-fullscreen-lg-down {
		width: 100vw;
		max-width: none;
		height: 100%;
		margin: 0;
	}

	.modal-fullscreen-lg-down .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	}

	.modal-fullscreen-lg-down .modal-header {
		border-radius: 0;
	}

	.modal-fullscreen-lg-down .modal-body {
		overflow-y: auto;
	}

	.modal-fullscreen-lg-down .modal-footer {
		border-radius: 0;
	}
}

@media (max-width: 1199.98px) {
	.modal-fullscreen-xl-down {
		width: 100vw;
		max-width: none;
		height: 100%;
		margin: 0;
	}

	.modal-fullscreen-xl-down .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	}

	.modal-fullscreen-xl-down .modal-header {
		border-radius: 0;
	}

	.modal-fullscreen-xl-down .modal-body {
		overflow-y: auto;
	}

	.modal-fullscreen-xl-down .modal-footer {
		border-radius: 0;
	}
}

@media (max-width: 1399.98px) {
	.modal-fullscreen-xxl-down {
		width: 100vw;
		max-width: none;
		height: 100%;
		margin: 0;
	}

	.modal-fullscreen-xxl-down .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	}

	.modal-fullscreen-xxl-down .modal-header {
		border-radius: 0;
	}

	.modal-fullscreen-xxl-down .modal-body {
		overflow-y: auto;
	}

	.modal-fullscreen-xxl-down .modal-footer {
		border-radius: 0;
	}
}


.btn-close {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.25em 0.25em;
	color: #000;
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	border: 0;
	border-radius: 0.25rem;
	opacity: 0.5;
}

.btn-close:hover {
	color: #000;
	text-decoration: none;
	opacity: 0.75;
}

.btn-close:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	opacity: 1;
}

.btn-close:disabled,
.btn-close.disabled {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	opacity: 0.25;
}

.btn-close-white {
	filter: invert(1) grayscale(100%) brightness(200%);
}

.preloader {
	display: none;
}

#aura,
#cursor {
	border-radius: 100%;
	pointer-events: none;
	position: absolute;
	-webkit-transition: opacity 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		-webkit-transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33);
	transition: opacity 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		-webkit-transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33);
	-o-transition: transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		opacity 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33);
	transition: transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		opacity 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33);
	transition: transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		opacity 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33),
		-webkit-transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10000;
}

#cursor {
	background-color: hsla(0, 0%, 100%, 0.5);
	height: 8px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	width: 8px;
}

#cursor.active {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

#aura {
	background-color: hsla(0, 0%, 100%, 0.027);
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	height: 46px;
	-webkit-transform: translate(5px, 5px);
	-ms-transform: translate(5px, 5px);
	transform: translate(5px, 5px);
	width: 46px;
}

#aura.active {
	border: 1.2px solid hsla(0, 0%, 100%, 0.33);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

#aura.hidden,
#cursor.hidden {
	-webkit-transform: scale(0.001);
	-ms-transform: scale(0.001);
	transform: scale(0.001);
}

.card-wrapper {
	perspective: 800px;
	transform-style: preserve-3d;
	width: 95%;
	height: 100%;
	margin: 0 auto;
}

.card,
.card2 {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1);
	zoom: 1!important;
	margin: 0 auto;
}

.card-active {
	transition: transform .4s cubic-bezier(0, 0, .2, 1), filter .15s cubic-bezier(0, 0, .2, 1);
}


/* Keyframes (animation) */
@keyframes up {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes opacityStart {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@keyframes PreOpacity {
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}